<h1 align="center"> <span class="label label-default">DEMO BITMAP SIMULATOR</span></h1>


<div class="row my_row" >
  <%= form_for :input,:url => { :controller => "bitmap", :action => "run_commands" }, :html => {:method => :post} do |f| %>
    <div class="col-lg-3 col-md-3 col-sm-3">
    	<h3 align="center">
      <span class="label label-success">Input Commads</span>
      <span class="glyphicon glyphicon glyphicon-info-sign btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" aria-hidden="true"></span>
      </h3>
      <div class="input-group">
        <span class="input-group-addon"></span>
        <%= f.text_area :commands, class: "form-control", style: "resize: none; height: 620px;", :value => @commands_in_show %>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->

    <!-- Execute button -->
    <div class="col-lg-1 col-md-1 col-sm-1" align="center" style="margin-top: 10%">
      <div class="input-group">
        <span class=""></span>
  	    <%= f.submit "EXECUTE INPUT", class: "btn btn-default" %>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  <% end  %>

  <div class="col-lg-8 col-md-8 col-sm-8">
  	<h3 align="center"><span class="label label-success">Output</span></h3>
    <div class="input-group">
      <span class="input-group-addon">
      </span>
      <div class="form-control",  style="overflow-y:auto; min-height: 620px;" >
      <% if @output.kind_of?(Array) %> <!-- If the returned values is an array (errors or bitmap) -->
        <% if @output.all? { |e| e.kind_of? Array } %> <!-- If the array is 2d it means that it is a bitmap -->
        	<% @output.each do |row| %>
            <% row.each do |cell| %>
              <% if cell == 'O' %>
                <%= cell %>
              <% else %>
                <b><%= cell %></b>
              <% end %>
            <%end %>
            <br>
          <% end %>
        <% else %> <!-- If the array is not 2d it contains errors -->
          <% @output.each do |row| %>
            <li style="list-style: none;"><%= row %></li>
          <% end %>
        <% end %>
  	  <% else %>
  	  	<%= @output %>
  	  <% end %>
      </div>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<footer style="margin-top: 20px; margin-right: 50px;">
  <div class="pull-right">
    Copyright &copy; 2017 <b>Bitmap Simulator</b> by <a href="https://github.com/ivanelrey" >Ivane Gomarteli.</a>
  </div>
  <div class="clearfix"></div>
</footer>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Guide</h4>
      </div>
      <div class="modal-body">
        <u>Commands (Params)</u>
        <ul>
          <li>I (M N) Create a new M x N image with all pixels coloured white (O).</li>
          <li>L (X Y C) Colours the pixel (X,Y) with colour C.</li>
          <li>V (X Y1 Y2 W) Draw a vertical segment of colour C in column X between rows Y1 and Y2 (inclusive).</li>
          <li>H (X1 X2 Y C) Draw a horizontal segment of colour C in row Y between columns X1 and X2 (inclusive).</li>
          <li>D (X1 Y1 X2 Y2 I) Draw a diagonal line of colour I, start from X1,Y1 and end at X2,Y2</li>
          <li>C (-) Clears the table, setting all pixels to white (O).</li>
          <li>S (-) Show the contents of the current image.</li>
          </ul>
        <u>Documentation</u>
        <ul>
          <a href="https://github.com/ivanelrey/bitmap-simulator" target="blank">Bitmap Simulator -  Github </a>
        </ul>
        <u>Note</u>
        <ul>
          On this demo web application please don't set the [M](columns size) param so big that will cause the bitmap to wrap in the output area. Only for showing purposes.  
        </ul>
        <u>Example</u>
        <ul style="list-style: none;">
          <li>I 29 3</li>
          <li>H 3 4 1 C</li>
          <li>L 2 2 C</li>
          <li>L 3 2 C</li>
          <li>H 3 4 3 C</li>
          <li>L 7 1 A</li>
          <li>D 7 2 6 3 A</li>
          <li>D 7 2 8 3 A</li>
          <li>H 6 8 2 A</li>
          <li>V 10 1 3 R</li>
          <li>H 11 12 1 R</li>
          <li>D 11 2 12 3 R</li>
          <li>L 12 2 R</li>
          <li>D 14 1 15 2 W</li>
          <li>D 16 2 15 3 W</li>
          <li>V 17 3 2 W</li>
          <li>L 18 1 W</li>
          <li>D 21 1 20 2 G</li>
          <li>D 22 2 21 3 G</li>
          <li>D 24 1 25 2 W</li>
          <li>D 26 2 25 3 W</li>
          <li>V 27 3 2 W</li>
          <li>L 28 1 W</li>
          <li>S</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>